<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TwitterDiaries Homepage</title>

  <link href="assets/img/mylogo2.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    .jumbotron {
        margin: 0px;
        background-image: url("../assets/img/background3.jpg");
        background-size: cover;
        opacity: 0.8;
        color: black;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    p {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .navbar{
      background-color: white;
    }
    
    .col-12 col-sm-12 col-md-4 col-lg{
      min-width: 66px;
    }

    .card{
      margin: 15px 0px 15px ;
      padding: 0px; 
    }

    .card-title {
      text-align: center;
    }

    .container-fluid {
      padding: 30px;
    }

    h4 {
      text-align: center;
    }

    hr {
      margin-top: 0px;
      margin-bottom: 0px;
      border: 0;
      border-top: 3px solid rgba(0, 0, 0, 0.8);
    }

    #myBtn {
      position: fixed; 
      bottom: 20px;
      right: 30px; 
      z-index: 99;
      border: none;
      background-color: black;
      color: white; 
      cursor: pointer; 
      padding-top: 1px; 
      padding-bottom: 5px;
      border-radius: 5px;
      font-size: 18px; 
    }

    #myBtn:hover {
      background-color: rgb(49, 49, 49); 
    }

    a:link, a:visited {
      color:white;
      
    }

  </style>
  </script>
  
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/assets/img/mylogo5.png" style="width:100px"></a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="jumbotron my-6 pt-6 text-center justify-content-center">
    <h1>TwitterDiaries</h1>
    <p class="lead">A one stop platform to understand more about yourself via Twitter.</p>
    <a href="/main" class="btn btn-primary" >Get Started</a>  <!-- leads to authentiction website-->
  </div>

  <hr>

  <div id="about" class="container-fluid" style="background-color: white; margin-top: auto">
    <h1 class="section-title text-center pb-4">About TwitterDiaries</h1>
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 ">
        <h4>What's Wrong</h4>
        <img class="img" src="../assets/img/about3.png" width="208">
        <p>
          People are ruled by emotions. As the pace of life increases, we lose focus of ourselves, the small details in life and our emotional & mental well-being. That said, some of us get by, by thwarting emotions but that's not good. It's like pressing on the gas and brakes at the same time, creating an internal pressure cooker. Most of us are even worse off, unaware of our emotions and ignorant of its detrimental effects.
        </p>

      </div>
      <div class="col-12 col-lg-6 col-xl-6 col-md-6 col-sm-12 ">
        <h4>Why it's bad</h4>
        <img class="img" src="../assets/img/about4.jpg" width="300">
        <p>
          When one is ignorant, or when the mind thwarts the flow of emotions, it puts stress on the mind and body and can create psychological distress and symptoms. Emotional stress is then created from these with-held / built-up tensions, possibly leading to mental illnesses and physical problems such as heart diseases and autoimmune disorders. Ultimately, it may even lead to intermittent explosive disorder, depression or even suicidal thoughts.
        </p>

      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-12">
        <h4>What TwitterDiaries can do</h4>
        <img class="img" src="../assets/img/about5.jpg" width="300">
        <p>
          TwitterDiaries can analyse your Twitter account and track your emotional well-being through your tweets. It also has a visual dashboard for you to better understand yourself, and provides entertainment recommendations (anime) based on your emotional state to improve it. Ultimately, it provides a solution for emotional well-being awareness and improvement.
        </p>
      </div>
    </div>
  </div>

  <hr>
  
  <div id="features" class="container-fluid" style="background-color: mintcream; margin-top: auto;">
    <div class="text-center"> 
      <h1>Features</h1>
      <p>TwitterDiaries has a range of features that will help you to better understand yourself. <br>
        We use Twitter API to extract tweets from your Twitter Account and then analyse them with a few of our self-invented features.
      </p>
    </div>


    <div class="row justify-content-center px-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/dashboard.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Personalised Dashboard</h5>
            <p class="card-text">A wonderful, personalized dashboard for you to view importants stats about yourself that you never knew.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/sentiment.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Sentiment Analysis</h5>
            <p class="card-text">Twitter Diaries can analyse the sentiments of your tweets — positive, neutral, negative and present them in visual charts.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/populartweets.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Popular Tweets</h5>
            <p class="card-text">Find out your top 3 tweets, according to number of retweets and number of favorites given by other users. Time to reminisce!</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/visual.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Visual Charts</h5>
            <p class="card-text">You can now see your timeline visualized in beautiful charts with filters that cater to your specific needs.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/anime.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Anime Suggestions</h5>
            <p class="card-text">TwitterDiaries can suggest you some of the most popular anime to watch based on your current mood!</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/easytouse.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Easy to Use</h5>
            <p class="card-text"> With just a login and a few clicks, you will get the result that you need through our beautifully designed UI! Try TwitterDiaries!</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <hr>

  <div id="team" class="container-fluid text-center">
    <h1>The Team</h1>
    <p>The team at TwitterDiaries.</p>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 col-lg">
      <div class="card">
        <img class="card-img-top" src="assets/img/team1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hong Yang</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg">
      <div class="card">
        <img class="card-img-top" src="assets/img/team2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Yin Shan</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg">
      <div class="card">
        <img class="card-img-top" src="assets/img/team3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kershawn</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg">
      <div class="card">
        <img class="card-img-top" src="assets/img/team4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Shawn</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg">
      <div class="card">
        <img class="card-img-top" src="assets/img/team5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tammy</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="team" class="container-fluid text-center bg-dark text-light mb-0 pb-1">
  <h4>Copyright</h4>
  <p>Copyright@TwitterDiaries</p>
</div>

<button id="myBtn" title="Go to top">
  <a href="#">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </a>
</button>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>

